{
  "env": {
    "jest": true
  },
  "rules": {
    "fp/no-loops": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "react/jsx-filename-extension": "off"
  }
}
