//
// Modules
//

@import 'variables';

//
// Bootstrap
// Core variables and mixins
// TODO: Import only boootstrap that are used
//

@import 'bootstrap/scss/bootstrap-flex.scss';
@import 'ionicons-temp/scss/ionicons.scss';
@import 'plyr/src/scss/plyr.scss';
@import 'notie/src/notie.scss';

//
// Components
//

@import './components/Home.scss';
@import './components/Movie.scss';
@import './components/CardList.scss';
@import './components/Loader.scss';

//
// Utilities
//

@import './utilities/type';
@import './utilities/logo';
@import './utilities/container';
