//
// Modules
//

@import 'variables';

//
// Bootstrap
// Core variables and mixins
// @TODO: Import only boootstrap that are used
//

@import '~bootstrap/scss/bootstrap.scss';
@import '~ionicons-temp/scss/ionicons.scss';
@import '~plyr/src/sass/plyr.scss';
@import '~notie/src/notie.scss';

//
// Components
//

@import './components/Movie.scss';
@import './components/CardList.scss';
@import './components/Rating.scss';
@import './components/Loader.scss';
@import './components/Item.scss';
@import './components/Show.scss';
@import './components/SaveItem.scss';
@import './components/Button.scss';

//
// Utilities
//

@import './utilities/container';
