//
//  Bootstrap variables override
//

$body-bg: #252525;
$gray-dark: black;
$gray: #303030;
$brand-primary: white;

$component-active-bg: gray;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 1440px,
  xl: 1440px
) !default;

$headings-color: white;

$enable-rounded: false;
$enable-hover-media-query: true;

$navbar-dark-color: #252525;
