{
  "presets": ["stage-0", "react"],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": 10 },
            "modules": false,
            "useBuiltIns": true
          }
        ],
        "react-optimize"
      ],
      "plugins": ["dev-expression"]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": 10 },
            "useBuiltIns": true
          }
        ]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "dynamic-import-node"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": 10 },
            "useBuiltIns": true
          }
        ]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes"
        // ["flow-runtime", {
        //   "assert": true,
        //   "annotate": true
        // }]
      ]
    }
  }
}
