# Development configuration can be loaded form this file via env variables

# Flags:
# ------------------------------------------------------------------------------
# These allow you to enable experimental features in PopcornTime with
# flip of a switch! By default, all flags are disabled

# Support falling back to WebChimera for non natively supported movie formats
# such as .mlv
#
# Note that this flag is not supported on linux because WebChimera does not
# support it

FLAG_SUPPORT_NON_NATIVE_CODECS_FALLBACK=false
