{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "fp/no-arguments": "off",
    "fp/no-class": "off",
    "fp/no-delete": "off",
    "fp/no-events": "off",
    "fp/no-get-set": "off",
    "fp/no-let": "off",
    "fp/no-loops": "off",
    "fp/no-mutating-assign": "off",
    "fp/no-mutating-methods": "off",
    "fp/no-mutation": "off",
    "fp/no-nil": "off",
    "fp/no-proxy": "off",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "off",
    "fp/no-throw": "off",
    "fp/no-unused-expression": "off",
    "fp/no-valueof-field": "off",
    "import/no-extraneous-dependencies": "off",
    "no-var": "off",
    "no-let": "off",
    "no-plusplus": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "promise/avoid-new": "off",
    "react/sort-comp": ["error", {
      "order": ["type-annotations", "properties", "constructor", "static-methods", "everything-else", "lifecycle", "render"]
    }]
  },
  "settings": {
    "import/extensions": [".jsx", ".js"],
    "webpack": {
      "config": "webpack.config.eslint.js"
    }
  }
}
