{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "global-require": 0,
    "react/jsx-no-bind": 1,
    "react/prefer-stateless-function": 1,
    "comma-dangle": 0,
    "no-use-before-define": 2,
    "consistent-return": 0,
    "immutable/no-let": 1,
    "immutable/no-this": 1,
    "immutable/no-mutation": 1
  },
  "plugins": [
    "react",
    "immutable"
  ]
}
