// The entire movie page
// @DEPRECATE: Movie styles should be merged into Item.scss styles
.Movie {
  z-index: 10;

  video {
    width: 100%;
  }

  .certification {
    font-family: arial, sans-serif;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    padding: 3px 9px;
  }

  .torrent__health {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin: 10px;
    background-color: red;
  }

  .torrent__health--healthy {
    background-color: green;
  }

  .torrent__health--decent {
    background-color: yellow;
  }

  .Movie--poster-image {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  i {
    color: white;
  }

  .dv-star-rating-star {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
  }

  #genres * {
    text-transform: capitalize;
  }
}
