// The entire movie page

.Movie {
  z-index: 10;

  video {
    width: 100%;
  }

  .certification {
    font-family: arial, sans-serif;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    padding: 3px 9px;
  }

  .Movie--poster-image {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
