{
  "extends": "plugin:testcafe/recommended",
  "env": {
    "jest": false
  },
  "plugins": ["testcafe"],
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "jest/no-test-callback": "off",
    "jest/expect-expect": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "react/jsx-filename-extension": "off"
  }
}
